<div class="container">
  <div class="IntroContainer">
    <h1>Welcome to {{ title }}</h1>
    <p class="introText">
      The planetary system we call home is located in an outer spiral arm of the Milky Way galaxy.
      Our solar system consists of our star, the Sun, and everything bound to it by gravity —
      the planets Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus and Neptune, dwarf planets such as Pluto,
      dozens of moons and millions of asteroids, comets and meteoroids.
      Beyond our own solar system, there are more planets than stars in night sky.
      So far, we have discovered thousands of planetary systems orbiting other stars in the Milky Way, with more planets being found all the time.
      Most of the hundreds of billions of stars in our galaxy are thought to have planets of their own,
      and the Milky Way is but one of perhaps 100 billion galaxies in the universe.
      While our planet is in some ways a mere speck in the vast cosmos, we have a lot of company out there.
      It seems that we live in a universe packed with planets — a web of countless stars accompanied by families of objects, perhaps some with life of their own.
    </p>
  </div>
  <div class="section">
    <h1>Planets in the Solar System and Distances from the Sun </h1>
    <ul>
      <li *ngFor="let planet of apiPlanets">
        {{ planet.name  }}:  {{ planet.distanceSun }} {{ planet.unit }}
      </li>
    </ul>
  </div>
  <div *ngIf="hasError">
    <div class="alert-warning">
      <span class="errorTitle">{{ errorMessage.statusText}}</span>
      <p>{{ errorMessage.error }}</p>
    </div>
  </div>
  <div class="footer">
    <p>References: http://faculty.montgomerycollege.edu / https://solarsystem.nasa.gov/</p>
  </div>
</div>
